@font-face {
	font-family: NSC-bold;
	font-display: swap;
	src: url("../fonts/NightStillComes_bold_final_sample.woff2") format("woff2"), url("../fonts/NightStillComes_bold_final_sample.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: NSC;
	font-display: swap;
	src: url("../fonts/NightStillComes_mine_final_sample.woff2") format("woff2"), url("../fonts/NightStillComes_mine_final_sample.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Stackyard;
	font-display: swap;
	src: url("../fonts/Stackyard_PERSONAL_USE.woff2") format("woff2"), url("../fonts/Stackyard_PERSONAL_USE.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
