// Заголовки, общие БЄМ блоки и проче...
.popup__content {
	width: auto;
}
.popup_show .popup__content {
	//transform: scale(1.5);
}
@media (max-width: 767px) {
	.popup__content {
		max-width: 100%;
		img {
			max-width: 100%;
		}
	}
}