.page {
}

// hello ====================================================================================================//

.hello {
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 170, 50);
	background-color: #efefef;
	@include adaptiveValue("margin-left", 1400, 0, 4000, 1200, 1);
	//padding: 0px 900px 0px 0px;

		&__container {
			margin: 0px 0px 0px 0px;
			max-width: 1170px;
			display: flex;
			@media (max-width: 600px) {
				flex-wrap: wrap;
			}
		}

		&__content {
			@media (max-width: 600px) {
				flex: 0 1 100%;
				@include adaptiveValue("padding-bottom", 60, 40, 600, 320, 1);
			}
		}

		&__image {
			@media (max-width: 600px) {
				flex: 0 1 100%;
			}
		}
}
.content-hello {

	@include adaptiveValue("padding-left", 120, 0, 1170, 600, 1);

		&__title {
			font-family: Stackyard;
			@include adaptiveValue("font-size", 35, 30);
			letter-spacing: 0.04em;
			color: #010101;
			padding: 0px 0px 12px 0px;
		}

		&__sub-title {
			@include adaptiveValue("font-size", 30, 24);
			padding: 0px 0px 20px 0px;
		}

		&__text {
			font-size: 15px;
			line-height: 133.333333%; /* 20/15 */
			letter-spacing: 0.04em;
			color: #969696;
			padding: 0px 30px 40px 0px;
		}

		&__bottom {
		}
}

.bottom {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 16px 60px 16px 20px;
	font-size: 15px;
	line-height: 120%;
	letter-spacing: 0.04em;
	color: #515151;
	border: 1px solid #515151;
	border-radius: 22px;
	background: url('@img/hello/icon/arrow_bottom_black.png') 120px no-repeat;
	transition: all 0.2s ease 0s;
	&:hover{
		color: #000;
		border: 1px solid #000;
		transform: scale(1.03);
	}

}

.image-hello {
	position: relative;
	img {
		position: relative;
		z-index: 2;
	}
	@media (max-width: 600px) {
		text-align: right;
		img {width: 80%;
		}
	}
	&::after{
		content: '';
		position: absolute;
		top: 50px;
		left: -160px;
		width: 313px;
		height: 467px;
		border: 3px solid #cccccc;
		@media (max-width: 992px) {
			left: -100px;
		}
		@media (max-width: 700px) {
			left: -30px;
			top: 30px;
		}
		@media (max-width: 600px) {
			//display: none;
			left: 8%;
			top: 8%;
			width: 80%;
			height: 100%;
		}
	}
}

// portfolio ====================================================================================================//

.portfolio {
	@include adaptiveValue("padding-top", 120, 50);
	@include adaptiveValue("padding-bottom", 140, 50);

	&__container {
	}

	&__box {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0px 15px;
		@include adaptiveValue("padding-right", 15, 5, 1170, 767, 2);
		@include adaptiveValue("padding-left", 15, 5, 1170, 767, 2);
		@media (max-width: 767px) {
			flex: 0 1 50%;
			@include adaptiveValue("padding-right", 15, 2, 767, 320, 1);
			@include adaptiveValue("padding-left", 15, 2, 767, 320, 1);
		}
	}
}
.column-portfolio {

	&__title {
		@include adaptiveValue("font-size", 40, 30);
		font-weight: 700;
		letter-spacing: 0.04em;
		@include adaptiveValue("padding-bottom", 25, 15);
	}

	&__text {
		font-family: lato;
		@include adaptiveValue("font-size", 14, 12);
		line-height: 120%;
		color: #8f8f8f;
		letter-spacing: 0.04em;
		@include adaptiveValue("padding-bottom", 50, 20);
	}

	&__image {
		display: block;
		cursor: zoom-in;
		img {
			max-width: 100%;
		}
		&_f {
			padding: 0px 0px 30px 0px;
			@include adaptiveValue("padding-bottom", 30, 10, 1170, 767, 2);
			@media (max-width: 767px) {
			@include adaptiveValue("padding-bottom", 30, 5, 767, 320, 1);
			}
		}
		&_d {
			display: none;
			@media (max-width: 767px) {
				display: block;
			}
		}
	}

	&_3 {
		margin: 50px 0px 0px 0px;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

// comment ====================================================================================================//

.comment {

	&__body {
		position: relative;
		@include adaptiveValue("padding-top", 130, 40);
		@include adaptiveValue("padding-bottom", 130, 40);
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: -1;
			//@include adaptiveValue("padding-right", 900, 0, 3000, 1200, 1);
			@include adaptiveValue("padding-right", 1400, 0, 4000, 1200, 1);
		}
	}

	&__content {
	}
}
.content-comment {
	width: 920px;
	margin: 0 auto;
	color: #fff;
	letter-spacing: 0.04em;
	text-align: center;
	@media (max-width: 930px) {
		width: 100%;
		padding: 0px 15px;
	}

	&__text {
		font-size: 15px;
		line-height: 133.333333%; /* 20/15 */
		padding: 0px 0px 35px 0px;
	}

	&__name {
		font-size: 25px;
		line-height: 80%; /* 20/25 */
		padding: 0px 0px 10px 0px;
	}

	&__description {
		font-size: 15px;
	}
}

// contact ====================================================================================================//

.contact {
	@include adaptiveValue("margin-top", 150, 40, 1000, 320, 1);
	//margin: 150px 0px 0px 0px;
	@include adaptiveValue("padding-bottom", 120, 20);

	&__container {
		display: flex;
		@media (max-width: 450px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 36%;
		@media (max-width: 767px) {
			flex: 0 1 50%;
		}
		@media (max-width: 450px) {
			flex: 0 1 100%;
			@include adaptiveValue("padding-bottom", 50, 30);
		}
	}

	&__forms {
		flex: 0 1 64%;
		@media (max-width: 767px) {
			flex: 0 1 50%;
		}
		@media (max-width: 450px) {
			flex: 0 1 100%;
		}
	}
}
.content-contact {
	@include adaptiveValue("padding-right", 40, 20);

	&__title {
		@include adaptiveValue("font-size", 40, 30);
		font-weight: 700;
		letter-spacing: 0.04em;
		@include adaptiveValue("padding-bottom", 22, 15);
	}

	&__text {
		font-family: lato;
		font-size: 14px;
		line-height: 120%;
		color: #8f8f8f;
	}
}
.forms-contact {
}
.form-contact {

	&__form {
		font-size: 15px;
		color: #000;
		display: flex;
		flex-wrap: wrap;
	}

	&__input {
		flex: 0 1 40%;
		@include adaptiveValue("margin-bottom", 40, 10);
		padding: 8px 0px;
		margin-right: 10%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
		&_3 {
			flex: 0 1 80%;
			@media (max-width: 767px) {
				flex: 0 1 100%;
			}
		}
	}

	&__button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 14px 60px 13px 20px;
		font-size: 15px;
		line-height: 120%;
		letter-spacing: 0.04em;
		color: #515151;
		border: 1px solid #515151;
		border-radius: 22px;
		background: url('@img/contact/01.png') 110px no-repeat;
		transition: all 0.2s ease 0s;
		@media (max-width: 767px) {
			padding: 10px 45px 10px 20px;
			background: url('@img/contact/01.png') 95px no-repeat;
		}
		&:hover{
			color: #000;
			border: 1px solid #000;
			transform: scale(1.03);
		}
	}
}
.form {
}
.button {
}
._form-error .form-contact__input {
	color: red;
}